In [9]:
pip install kafka-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kafka-python in c:\users\manis\appdata\roaming\python\python312\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install kafka-python-ng  ## incase of above package won't work

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kafka-python-ng in c:\users\manis\appdata\roaming\python\python312\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [14]:
producer = KafkaProducer(bootstrap_servers=['{listener ip of your kafka server}:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [ ]:
producer.send('demo_topic', value={'Check Connection Status':'True'})

In [ ]:
df = pd.read_csv("data.csv")
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,399001.SZ,2011-08-23,11146.63965,11243.41992,11120.58984,11243.41992,11243.29395,38800.0,1798.947187
1,399001.SZ,2011-08-24,11313.98047,11369.98047,11225.51953,11238.95020,11238.82422,43300.0,1798.232032
2,399001.SZ,2011-08-25,11268.79981,11605.07031,11229.40039,11598.92969,11598.79981,81300.0,1855.828750
3,399001.SZ,2011-08-26,11547.54981,11599.87988,11472.28027,11568.16992,11568.04004,51300.0,1850.907187
4,399001.SZ,2011-08-29,11464.87988,11484.45996,11356.57031,11372.37988,11372.25195,52500.0,1819.580781

In [ ]:
while 1==1:
    dict_stock = df.sample(1).to_dict(orient="records")[0] ## give one random row
    producer.send('demo_topic', value=dict_stock)
    sleep(1)

In [24]:
producer.flush() #clear data from kafka server